.cards__select-container {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.cards__select {
  flex-shrink: 0;
}

.cards__list {
  list-style: none;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  display: grid;
  gap: 20px;

  @media (min-width: $tablet) {
    grid-template-columns: 349px 349px;
    gap: 30px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 349px 349px;
    gap: 30px;
  }
}
