.card {
  padding: 40px 20px 20px;
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 100%;
  box-sizing: border-box;
  background-color: $base-white;
  border-radius: 4px;

  @media (min-width: $tablet) {
    padding: 50px 30px 30px;
    width: 349px;
  }

  @media (min-width: $desktop) {
    width: 317px;

    &:hover {
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    }
  }
}

.card__image-container {
  margin-bottom: 24px;

  @media (min-width: $tablet) {
    margin-bottom: 30px;
  }
}

.card__image {
  display: block;
  margin: 0 auto;
}

.card__title {
  margin: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;

  @media (min-width: $tablet) {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 36px;
  }
}

.card__title-link {
  text-decoration: none;
  color: inherit;

  &:hover,
  &:focus-visible {
    color: $primary-lighter;
  }

  &:active {
    color: $primary-darker;
  }
}

.card__description {
  flex-grow: 1;
  margin: 0;
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet) {
    margin-bottom: 20px;
  }
}

.card__buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__price {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}

.card__button {
  min-width: 141px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
}
