.cards__select-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  @media (max-width: ($tablet - 0.5px)) {
    left: 3px;
  }

  @media (min-width: $tablet) {
    top: 4px;
    justify-content: flex-end;
  }
}

.cards__select-title {
  @media (min-width: $tablet) {
    margin-right: 10px;
  }
}

.cards__list {
  list-style: none;
  margin: 16px 0 40px;
  padding: 0;
  display: grid;
  gap: 20px;

  @media (min-width: $tablet) {
    margin: 30px 0 70px;
    grid-template-columns: repeat(2, max-content);
    gap: 30px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 60px;
    grid-template-columns: repeat(3, max-content);
    gap: 30px;
  }
}

.cards__pagination {
  @media (min-width: $tablet) {
    width: max-content;
    max-width: 100%;
    margin-left: auto;
  }
}
