.control {
  position: relative;
  padding-left: 34px;
  cursor: pointer;
}

.control__mark {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.control__mark--radio {
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  border: 2px solid $base-grey;
  border-radius: 50%;
}

.control__input[type="radio"] + .control__mark--radio::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

/* Conditions for radio */

.control__input[type="radio"]:checked + .control__mark--radio {
  border-color: $base-primary;
}

.control__input[type="radio"]:checked + .control__mark--radio::before {
  background-color: $base-primary;
}

/* Hover / Focus */

.control:hover > .control__mark--radio,
.control__input[type="radio"]:focus-visible + .control__mark--radio {
  border-color: $primary-lighter;
}

.control:hover > .control__mark--radio::before,
.control__input[type="radio"]:focus-visible + .control__mark--radio::before {
  background-color: $primary-opacity;
}

/* Disabled */

.control__input:disabled ~ .control__text {
  color: $base-grey;
}

.control__input[type="radio"]:disabled + .control__mark--radio {
  border-color: $light-grey;
}

.control__input[type="radio"]:disabled + .control__mark--radio::before {
  background-color: transparent;
}

.control__input[type="radio"]:checked:disabled + .control__mark--radio::before {
  background-color: $light-grey;
}

/* Conditions for checkbox */
