.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  @media (max-width: ($tablet - 0.5px)) {
    padding: 0;
  }
}

.header__description {
  display: none;

  @media (min-width: $desktop) {
    display: block;
    width: 126px;
    align-self: center;
    margin-right: 162px;
  }
}

.header__logo {
  margin-top: 12px;
  margin-left: 20px;
  cursor: pointer;

  @media (min-width: $tablet) {
    margin: 22px 67px 0 0;
  }

  @media (min-width: $desktop) {
    margin-right: 20px;
  }
}

.header__logo:hover {
  opacity: 0.5;
}

.header__navigation {
  margin-left: auto;

  @media (min-width: $tablet) {
    order: 2;
  }
}

.header__menu {
  flex-basis: 100%;

  @media (min-width: $tablet) {
    flex-basis: 400px;
    order: 1;
  }
}
