.header {
  display: flex;
  padding-right: 0;
  justify-content: space-between;
}

.header__description {
  display: none;

  @media (min-width: $tablet) {
    display: block;
  }
}

.header__logo {
  margin-top: 12px;
  cursor: pointer;
}

.header__logo:hover {
  opacity: 0.5;
}
