.navigation__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.navigation__link {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.navigation__link:hover,
.navigation__link:hover .navigation__icon {
  color: $base-primary;
}

.navigation__link:active {
  background-color: $base-secondary;
}

.navigation__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $base-black;
}
