.page {
  height: 100%;
}

.page__body {
  margin: 0 auto;
  padding: 0;
  max-width: 1440px;
  min-width: 320px;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: $base-black;
  background-color: $base-white;
}

.page__main {
  flex-grow: 1;
}
