.page {
  height: 100%;
}

.page__body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: $base-black;
  background-color: $base-white;
}

.page__main {
  flex-grow: 1;
}
