.pagination {
  display: flex;
  gap: 20px;
}

.pagination__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.pagination__button--back .pagination__button-icon {
  transform: rotate(180deg);
}

.pagination__turn {
  opacity: 0;
}

.pagination__turn--active {
  opacity: 1;
}
