.slide {
  position: relative;
  padding: 20px 20px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet) {
    padding: 50px 80px 308px;
    margin-bottom: 188px;
  }

  @media (min-width: $tablet) and (max-width: ($desktop - 0.5px)) {
    box-sizing: border-box;
    height: 640px;
  }

  @media (min-width: $desktop) {
    padding: 30px 80px 84px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: center;
  }

  &--1 {
    background-color: $flat-white;
  }

  &--2 {
    background-color: $lavender-latte;
  }

  &--3 {
    background-color: $espresso;
  }
}

.slide__image-container {
  @media (min-width: $tablet) and (max-width: ($desktop - 0.5px)) {
    position: absolute;
    bottom: -188px;
  }

  @media (min-width: $desktop) {
    margin-left: 25px;
    flex-shrink: 0;
  }
}

.slide__image {
  display: block;

  @media (min-width: $tablet) {
    width: 476px;
    height: 476px;
  }

  @media (min-width: $desktop) {
    width: 600px;
    height: 600px;
  }
}

.slide__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;

  @media (min-width: $desktop) {
    margin-top: 0;
    margin-left: 30px;
    max-width: 625px;
    align-items: start;
  }
}

.slide__description {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  z-index: 1;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 32px;
  }

  @media (min-width: $desktop) {
    text-align: start;
  }
}

.slide__buy {
  display: flex;
  align-items: center;
}

.slide__old-price {
  font-size: 16px;
  line-height: 32px;
  text-decoration-line: line-through;
  color: $base-primary;
}

.slide__price {
  margin-left: 6px;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: $base-black;
}

.slide__button {
  padding: 8px 20px;
  margin-left: 20px;
  font-size: 16px;
  line-height: 24px;
  color: $base-white;
  background-color: $base-primary;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $primary-lighter;
  }

  &:active {
    background-color: $primary-darker;
  }

  &:disabled {
    background-color: $base-grey;
  }
}
